body {
    padding: 25px;
}
file-drop {
    min-width: 800px;
    min-height: 200px;
    flex-wrap: wrap;
    display: flex;
    padding: 5px;
    border-radius: 5px;
    border: 5px dashed lightgray;
}

[selected] li {
    border: 1px solid red;
    transition: transform 0.2s;
    transform: scale(1.1);
}

.tab {
    border: 1px solid lightgray;
    background-color: antiquewhite;
    padding: 50px;
}

[hidden] {
    display: none;
}

ul {
    display: flex;
    margin: 0px;
    padding: 0px;
}

li {
    box-sizing: border-box;
    display: block;
    padding: 5px;
    background: lightgray;
    border: 1px solid lightgray;
}


#placeholder:only-child {
    display: initial;
}

#placeholder {
    display: none;
    margin: auto;
}

body {
    margin: auto;
}


.marged {
    margin-top: 15px;
}